{{ if eq .style "primary" }}
  <a href="{{ .href }}" class="text-primary-text bg-tertiary-text h-10 px-8 rounded-md inline-flex items-center justify-center gap-2 font-semibold">
    {{ if ne .iconRight "true" }}
      {{ if .icon }}
        {{ partial "utils/icon.html" (dict "name" .icon "attributes" "class='w-5'") }}
      {{ end }}
    {{ end}}
    {{ .text }}
    {{ if eq .iconRight "true"}}
      {{ if .icon }}
        {{ partial "utils/icon.html" (dict "name" .icon "attributes" "class='w-5'") }}
      {{ end }}
    {{ end }}
  </a>
{{ else }}
  <a href="{{ .href }}" class="text-primary-text h-10 px-8 rounded-md inline-flex items-center justify-center gap-2 border-secondary-border border-[1px] font-semibold">
    {{ if ne .iconRight "true" }}
      {{ if .icon }}
        {{ partial "utils/icon.html" (dict "name" .icon "attributes" "class='w-5'") }}
      {{ end }}
    {{ end}}
    {{ .text }}
    {{ if eq .iconRight "true"}}
      {{ if .icon }}
        {{ partial "utils/icon.html" (dict "name" .icon "attributes" "class='w-5'") }}
      {{ end }}
    {{ end }}
  </a>
{{ end }}