<style>
  .hextra-footer {
    display: none
  }
</style>

<footer class="text-white py-32 bg-center bg-no-repeat bg-[length:61.85319rem_60.14119rem] lg:bg-auto bg-primary-bg">
  <div class="flex items-center px-6">
    <div class="text-center mx-auto inline-block">
      <h1 class="text-2xl/tight lg:text-2xl/tight max-w-4xl font-bold mx-auto font-heading text-primary-text">
        Connect with the <span class="text-tertiary-text">agentgateway</span> community
      </h1>
      <p class="text-xl max-w-3xl font-semibold mt-6 lg:mt-10 mx-auto font-heading text-secondary-text">
        Calling all agent creators, tool providers, platform engineers, and AI enthusiasts - come build the future of AI agent connectivity.
      </p>
      <div class="flex justify-center space-x-4 pt-10">
        {{ partial "button" (dict "style" "primary" "href" "https://discord.gg/y9efgEmppm" "text" "Discord" "icon" "discord") }}
        {{ partial "button" (dict "style" "secondary" "href" "https://github.com/agentgateway/agentgateway" "text" "GitHub" "icon" "github") }}
      </div>
    </div>
  </div>
</footer>
