<script>
  function openMobileNav() {
    document.querySelector('.mobile-nav').classList.toggle('visible');
    document.querySelector('.hamburger').classList.toggle('visible');
    document.querySelector('.x').classList.toggle('visible');
    document.querySelector('body').style.overflow = document.querySelector('body').style.overflow === 'hidden' ? 'scroll' : 'hidden';
  }
</script>

<style>
  .nav-container {
    display: none
  }

  .mobile-nav {
    left: 100%;
    transition: left 400ms ease-out;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .mobile-nav .x {
    display: none;
  }

  .mobile-nav .hamburger {
    display: block
  }

  .mobile-nav.visible {
    left: 0;
    transition: left 400ms ease-in;
  }

  .visible.x {
    display: block;
  }

  .visible.hamburger {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    min-width: 160px;
  }

  .dropdown:hover .dropdown-content {display: block;}
</style>

<nav class="navbar py-[1.875rem] px-12 xl:px-25 absolute top-0 w-full hidden lg:block z-20">
  <div class="flex max-w-[1440px] mx-auto content-center items-center justify-between gap-6">
    <div class="flex items-center gap-8">
      <a href="/">{{ partial "utils/icon.html" (dict "name" "logo" "attributes" "id='logo'" ) }}</a>
    </div>
    <div class="flex flex-grow lg:flex-grow-0 items-center align-center justify-between lg:gap-8 xl:gap-[3.5625rem]">
      <a class="link whitespace-nowrap text-primary-text" href="/docs/">Docs</a>
      <a class="link whitespace-nowrap text-primary-text" href="/blog">Blog</a>
      <a class="link whitespace-nowrap text-primary-text" href="https://discord.gg/BdJpzaPjHv">Community</a>
      <a class="link whitespace-nowrap text-primary-text" href="/docs/">Get Started</a>
      <a class="link whitespace-nowrap text-primary-text" href="https://github.com/agentproxy-dev/agentproxy">GitHub</a>
    </div>
  </div>
</nav>

<nav class="absolute top-0 w-full block lg:hidden z-50">
  <div class="py-6 pr-4 flex justify-between items-center">
    {{ partial "utils/icon.html" (dict "name" "logo" "attributes" "height=26" ) }}
    <button class="p-4 bg-primary-text rounded-lg flex items-center" onClick="openMobileNav()">
      <div class="visible hamburger hidden">
        {{ partial "utils/icon.html" (dict "name" "hamburger" ) }}
      </div>
      <div class="x hidden">
        {{ partial "utils/icon.html" (dict "name" "x" "attributes" "class='w-4'") }}
      </div>
    </button>
  </div>
</nav>

<div class="mobile-nav absolute bg-primary-bg w-screen z-40">
  <div class="h-full flex flex-col px-4 items-stretch justify-end w-screen">
    <a class="whitespace-nowrap text-[1.5625rem] text-primary-text py-5" href="/docs/">Docs</a>
    <a class="whitespace-nowrap text-[1.5625rem] text-primary-text py-5" href="/blog">Blog</a>
    <a class="whitespace-nowrap text-[1.5625rem] text-primary-text py-5" href="https://discord.gg/BdJpzaPjHv">Community</a>
    <a class="whitespace-nowrap text-[1.5625rem] text-primary-text py-5" href="/docs/">Get Started</a>
    <a class="whitespace-nowrap text-[1.5625rem] text-primary-text py-5" href="https://github.com/agentproxy-dev/agentproxy">GitHub</a>
  </div>
</div>