{{ define "main" }}
<style>
  .hextra-footer { background-color: #060812 !important; color: #9ca3af; }
  .hextra-footer a { color: #7734be; }
</style>
<div class="w-full absolute top-20 lg:top-25 z-10">
{{ partial "announcement.html" .}}
</div>
<div class='mx-auto flex'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    <article class="w-full break-words flex justify-center">
        <main id="content" class="w-full relative overflow-hidden">
            {{ partial "nav.html" .}}
            {{ partial "homepage-content.html" . }}
            {{ partial "chatbot.html" . }}
        </main>
    </article>
</div>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtmContainerID }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}
