{{- $url := .Get "url" -}}
{{- $section := .Get "section" -}}
{{- with resources.GetRemote $url -}}
  {{- $content := .Content  -}}
  {{- $pattern := printf "(?ms)^#+? %s\\s*(.*?)(^#+? |\\z)" $section -}}
  {{- $match := index (findRESubmatch $pattern $content) 0 -}}
  {{- if $match -}}
    {{ index $match 1 | replaceRE (printf "^#+? %s\\s*" $section) "" |safe.HTML }}
  {{- else -}}
    {{ errorf "fail to find section: %s" $section }}
  {{- end -}}
{{- else -}}
{{ errorf "unable to load content from %s" $url }}
{{- end -}}